In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Manzhouli,CN,49.6000,117.4333,24.46,38,3,3.22,clear sky
1,1,Kahului,US,20.8947,-156.4700,69.06,69,1,3.96,clear sky
2,2,Montrose,US,38.4166,-108.2673,50.45,27,1,0.63,clear sky
3,3,Lompoc,US,34.6391,-120.4579,60.93,89,90,5.75,overcast clouds
4,4,Qaanaaq,GL,77.4840,-69.3632,2.53,51,0,8.25,clear sky

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Sao Paulo De Olivenca,BR,-3.3783,-68.8725,87.66,65,86,2.06,overcast clouds
7,7,Adrar,MR,20.5022,-10.0711,86.29,12,100,8.50,overcast clouds
8,8,Hilo,US,19.7297,-155.0900,82.27,74,2,0.45,clear sky
10,10,Ponta Do Sol,PT,32.6667,-17.1000,78.01,76,69,8.41,broken clouds
11,11,Lorengau,PG,-2.0226,147.2712,81.55,79,83,6.26,broken clouds
17,17,Madimba,TZ,-10.4000,40.3333,75.83,80,20,5.64,few clouds
34,34,Parauna,BR,-16.9478,-50.4486,79.50,62,98,8.32,overcast clouds
40,40,Butaritari,KI,3.0707,172.7902,81.88,73,83,6.04,light rain
43,43,Arraial Do Cabo,BR,-22.9661,-42.0278,75.06,73,90,8.05,overcast clouds
48,48,High Rock,BS,26.6208,-78.2833,80.62,58,33,24.43,scattered clouds

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                186
City                   186
Country                182
Lat                    186
Lng                    186
Max Temp               186
Humidity               186
Cloudiness             186
Wind Speed             186
Current Description    186
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Sao Paulo De Olivenca,BR,-3.3783,-68.8725,87.66,65,86,2.06,overcast clouds
7,7,Adrar,MR,20.5022,-10.0711,86.29,12,100,8.50,overcast clouds
8,8,Hilo,US,19.7297,-155.0900,82.27,74,2,0.45,clear sky
10,10,Ponta Do Sol,PT,32.6667,-17.1000,78.01,76,69,8.41,broken clouds
11,11,Lorengau,PG,-2.0226,147.2712,81.55,79,83,6.26,broken clouds
...,...,...,...,...,...,...,...,...,...,...
662,662,Doha,QA,25.2867,51.5333,84.18,70,0,4.61,clear sky
663,663,Mulege,MX,26.8833,-111.9833,85.24,27,0,4.36,clear sky
666,666,Gizo,SB,-8.1030,156.8419,82.20,77,36,5.88,light rain
673,673,Kutum,SD,14.2000,24.6667,79.39,14,16,5.64,few clouds
676,676,Ternate,ID,0.8000,127.4000,79.88,82,100,2.64,light rain

In [18]:
#5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Sao Paulo De Olivenca,BR,87.66,overcast clouds,-3.3783,-68.8725,
7,Adrar,MR,86.29,overcast clouds,20.5022,-10.0711,
8,Hilo,US,82.27,clear sky,19.7297,-155.0900,
10,Ponta Do Sol,PT,78.01,broken clouds,32.6667,-17.1000,
11,Lorengau,PG,81.55,broken clouds,-2.0226,147.2712,
17,Madimba,TZ,75.83,few clouds,-10.4000,40.3333,
34,Parauna,BR,79.50,overcast clouds,-16.9478,-50.4486,
40,Butaritari,KI,81.88,light rain,3.0707,172.7902,
43,Arraial Do Cabo,BR,75.06,overcast clouds,-22.9661,-42.0278,
48,High Rock,BS,80.62,scattered clouds,26.6208,-78.2833,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Hilo,US,82.27,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Ponta Do Sol,PT,78.01,broken clouds,32.6667,-17.1000,Hotel do Campo
11,Lorengau,PG,81.55,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
34,Parauna,BR,79.50,overcast clouds,-16.9478,-50.4486,Hotel Serras de Paraúna
40,Butaritari,KI,81.88,light rain,3.0707,172.7902,Isles Sunset Lodge

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))